/* This is the project stylesheet */

/* This is the project stylesheet */

:root {
  /* Colors */
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  /* Typographies */
  /* h1 */
  --h1-family: "Titillium Web";
  --h1-size: 18px;
  --h1-weight: 600;
  --h1-line-height: 22px;

  /* h2 */
  --h2-family: "Muller";
  --h2-size: 48px;
  --h2-weight: 700;
  --h2-line-height: normal;

  /* h3 */
  --h3-family: "Muller";
  --h3-size: 30px;
  --h3-weight: 500;
  --h3-line-height: 46px;

  /* h4 */
  --h4-family: "Montserrat";
  --h4-size: 20px;
  --h4-weight: 500;
  --h4-line-height: 38px;
}
 
  

 .o-proekte {
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.num-1 {
  background-color: var(--black);
  margin-bottom: 7px;
  padding: 6px 215px 16px 125px;
  display: flex;
  align-items: flex-start;
}
.logo {
  width: 71px;
  height: 74px;
  margin-right: 14px;
}
.flex-wrapper-five {
  margin-right: 86px;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text {
  max-width: 136px;
  color: var(--white);
  text-align: center;
  margin-bottom: 96px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.img {
  width: 753px;
  height: 943px;
  margin-left: 60px;
}
.flex-wrapper-six {
  padding: 406px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-two {
  height: 97px;
  width: 595px;
  color: var(--white);
  display: flex;
  text-align: center;
  margin-bottom: 67px;
  margin-left: 1px;
  letter-spacing: 0.72px;
  font-family: var(--h2-family);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
}
.text-three {
  color: var(--white);
  text-align: center;
  margin-bottom: 13px;
  font-family: var(--h3-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}
.text-four {
  color: var(--white);
  text-align: center;
  margin-bottom: 41px;
  font-family: var(--h3-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}
.flex-wrapper-one {
  border-radius: 15px;
  padding: 13px 10px 12px 8px;
  display: flex;
  align-items: center;
  border: 2px solid var(--white);
}
.text-five {
  height: 22px;
  width: 166px;
  color: var(--white);
  display: flex;
  text-align: center;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.num-2 {
  background-color: var(--black);
  margin-bottom: 21px;
  padding: 12px 811px 11px 411px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.vector {
  width: 359px;
  height: 1px;
  background-color: var(--white);
  margin-bottom: 45px;
  margin-left: 339px;
}
.text-six {
  height: 37px;
  width: 480px;
  color: var(--white);
  display: flex;
  margin-bottom: 25px;
  font-family: var(--h3-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}
.text-seven {
  max-width: 698px;
  color: var(--white);
  margin-bottom: 25px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.text-eight {
  max-width: 615px;
  color: var(--white);
  margin-bottom: 25px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.text-nine {
  height: 183px;
  width: 619px;
  color: var(--white);
  display: flex;
  align-items: center;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.num-3 {
  background-color: var(--black);
  margin-bottom: 1719px;
  padding: 12px 411px 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-seven {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
.flex-wrapper-eight {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.img-two {
  width: 475px;
  height: 510px;
  margin-bottom: 35px;
}
.text-ten {
  max-width: 482px;
  color: var(--white);
  margin-bottom: 25px;
  font-family: var(--h3-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}
.text-eleven {
  width: 545px;
  color: var(--white);
  margin-bottom: 25px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.text-twelve {
  max-width: 583px;
  color: var(--white);
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.img-three {
  width: 475px;
  height: 694px;
  margin-top: 311px;
}
.text-thirteen {
  max-width: 620px;
  color: var(--white);
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.num-8 {
  background-color: var(--black);
  padding: 76px 419px 53px 410px;
  display: flex;
  align-items: flex-start;
}
.flex-wrapper-twelve {
  margin-right: 8px;
  padding: 154px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-fourteen {
  max-width: 377px;
  color: var(--white);
  margin-bottom: 48px;
  margin-left: 1px;
  letter-spacing: 0.72px;
  font-family: var(--h2-family);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
}
.flex-wrapper-thirteen {
  display: flex;
  align-items: center;
}
.text-fifteen {
  width: 185px;
  color: var(--white);
  margin-right: 8px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}


.flex-wrapper-four {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/aa7fd78a-fcb0-4957-9984-5a1170a5e6ba.png");
  padding: 33px 39px 60px 12px;
  position: relative;
  
}
.img-four {
  width: 654px;
  height: 394px;
  position: relative;
}
.text-seventeen {
  border-radius: 10px;
  padding: 7px 2px 4px 4px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 440px;
  top: 246px;
  border: 2px solid var(--white);
}
.text-sixteen {
  height: 24px;
  width: 166px;
  color: var(--white);
  display: flex;
  text-align: center;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-eighteen {
  height: 72px;
  width: 198px;
  color: var(--white);
  display: flex;
  position: absolute;
  left: 440px;
  top: 146px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-nineteen {
  height: 48px;
  width: 211px;
  color: var(--white);
  display: flex;
  position: absolute;
  left: 438px;
  top: 78px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.num-15 {
  background-color: var(--black);
  padding: 46.78px 892px 79.22px 409px;
  display: flex;
  align-items: flex-start;
}
.text-twenty {
  height: 33px;
  width: 300px;
  color: var(--white);
  display: flex;
  margin-right: 291px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.vector-three {
  width: 4.21%;
  height: 78.79%;
}
.num-9 {
  background-color: var(--white);
  padding: 62px 404px 48px 401px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-nine {
  margin-bottom: 26.07px;
  display: flex;
  align-items: center;
}
.text-twenty-one {
  height: 27px;
  width: 158px;
  color: var(--black);
  display: flex;
  margin-right: 274px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-twenty-two {
  height: 19px;
  width: 239px;
  color: var(--black);
  display: flex;
  text-align: center;
  margin-right: 220px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-twenty-three {
  height: 19px;
  width: 224px;
  color: var(--black);
  display: flex;
  text-align: right;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.vector-four {
  width: 1110px;
  height: 1px;
  background-color: var(--black);
  margin-bottom: 24.93px;
  margin-left: 4px;
}
.flex-wrapper-ten {
  margin-bottom: 10px;
  padding: 0 0 0 304px;
  display: flex;
  align-items: flex-start;
}
.text-twenty-four {
  height: 19px;
  width: 125px;
  color: var(--black);
  display: flex;
  margin-right: 65px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-twenty-five {
  height: 19px;
  width: 82px;
  color: var(--black);
  display: flex;
  margin-right: 65px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-twenty-six {
  height: 19px;
  width: 147px;
  color: var(--black);
  display: flex;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.flex-wrapper-eleven {
  margin-bottom: 25.38px;
  padding: 0 0 0 304px;
  display: flex;
  align-items: flex-start;
}
.text-twenty-seven {
  height: 20px;
  width: 89px;
  color: var(--black);
  display: flex;
  margin-right: 101px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-twenty-eight {
  height: 17px;
  width: 75px;
  color: var(--black);
  display: flex;
  margin-right: 72px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.text-twenty-nine {
  height: 20px;
  width: 262px;
  color: var(--black);
  display: flex;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.vector-five {
  width: 1110px;
  height: 1px;
  background-color: var(--black);
  margin-bottom: 24.62px;
  margin-left: 4px;
}
.text-thirty {
  height: 19px;
  width: 717px;
  color: var(--black);
  display: flex;
  margin-left: 201px;
  letter-spacing: 0.54px;
  font-family: var(--h1-family);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-line-height);
}
.num-4-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: -2px;
  bottom: 1078px;
}
.flex-wrapper-three {
  background-color: var(--black);
  padding: 42px 407px 42px 408px;
  display: flex;
  align-items: flex-start;
}
.flex-wrapper-fifteen {
  margin-right: 69px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.img-five {
  width: 475px;
  height: 510px;
  margin-bottom: 38px;
}
.text-thirty-one {
  height: 172px;
  width: 467px;
  color: var(--white);
  display: flex;
  align-items: center;
  margin-bottom: 51px;
  margin-left: 1px;
  font-family: var(--h3-family);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: var(--h3-line-height);
}
.text-thirty-two {
  height: 182px;
  width: 552px;
  color: var(--white);
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  margin-left: 1px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.num-4 {
  display: flex;
  align-items: flex-start;
}
.text-thirty-three {
  height: 69px;
  width: 353px;
  color: var(--white);
  display: flex;
  align-items: center;
  margin-right: 18px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.vector-six {
  width: 6.55%;
  height: 37.68%;
  margin-top: 30px;
}
.img-six {
  width: 483px;
  height: 708px;
  margin-top: 312px;
}
.flex-wrapper-two {
  background-color: var(--black);
  padding: 31px 402px 42px 1028px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-thirty-four {
  max-width: 490px;
  color: var(--white);
  margin-bottom: 29px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.flex-wrapper-fourteen {
  margin-bottom: 16px;
  padding: 0 0 0 2px;
  display: flex;
  align-items: flex-start;
}
.vector-seven {
  width: 25px;
  height: 1px;
  background-color: var(--white);
  margin-top: 26px;
  margin-right: 15px;
}
.text-thirty-five {
  color: var(--white);
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}
.text-thirty-six {
  max-width: 363px;
  color: var(--white);
  margin-left: 1px;
  font-family: var(--h4-family);
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: var(--h4-line-height);
}